In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('data/train.csv')

In [3]:
df

       row_id        date  country       store         product  num_sold
0           0  2015-01-01  Finland  KaggleMart      Kaggle Mug       329
1           1  2015-01-01  Finland  KaggleMart      Kaggle Hat       520
2           2  2015-01-01  Finland  KaggleMart  Kaggle Sticker       146
3           3  2015-01-01  Finland  KaggleRama      Kaggle Mug       572
4           4  2015-01-01  Finland  KaggleRama      Kaggle Hat       911
...       ...         ...      ...         ...             ...       ...
26293   26293  2018-12-31   Sweden  KaggleMart      Kaggle Hat       823
26294   26294  2018-12-31   Sweden  KaggleMart  Kaggle Sticker       250
26295   26295  2018-12-31   Sweden  KaggleRama      Kaggle Mug      1004
26296   26296  2018-12-31   Sweden  KaggleRama      Kaggle Hat      1441
26297   26297  2018-12-31   Sweden  KaggleRama  Kaggle Sticker       388

[26298 rows x 6 columns]

In [6]:
df['product'].value_counts()

Kaggle Sticker    8766
Kaggle Mug        8766
Kaggle Hat        8766
Name: product, dtype: int64