In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('Data/test.csv')
df

      row_id        date  country       store         product
0      26298  2019-01-01  Finland  KaggleMart      Kaggle Mug
1      26299  2019-01-01  Finland  KaggleMart      Kaggle Hat
2      26300  2019-01-01  Finland  KaggleMart  Kaggle Sticker
3      26301  2019-01-01  Finland  KaggleRama      Kaggle Mug
4      26302  2019-01-01  Finland  KaggleRama      Kaggle Hat
...      ...         ...      ...         ...             ...
6565   32863  2019-12-31   Sweden  KaggleMart      Kaggle Hat
6566   32864  2019-12-31   Sweden  KaggleMart  Kaggle Sticker
6567   32865  2019-12-31   Sweden  KaggleRama      Kaggle Mug
6568   32866  2019-12-31   Sweden  KaggleRama      Kaggle Hat
6569   32867  2019-12-31   Sweden  KaggleRama  Kaggle Sticker

[6570 rows x 5 columns]

## Control will be Mean of Product Sales

In [4]:
averages = {'Kaggle Hat': 629, 'Kaggle Mug': 354, 'Kaggle Sticker': 179}

In [11]:
df['num_sold'] = df['product'].apply(lambda x: averages[x])

In [12]:
df

,row_id,date,country,store,product,Average Sales,num_sold
0,26298,2019-01-01,Finland,KaggleMart,Kaggle Mug,354,354
1,26299,2019-01-01,Finland,KaggleMart,Kaggle Hat,629,629
2,26300,2019-01-01,Finland,KaggleMart,Kaggle Sticker,179,179
3,26301,2019-01-01,Finland,KaggleRama,Kaggle Mug,354,354
4,26302,2019-01-01,Finland,KaggleRama,Kaggle Hat,629,629
...,...,...,...,...,...,...,...
6565,32863,2019-12-31,Sweden,KaggleMart,Kaggle Hat,629,629
6566,32864,2019-12-31,Sweden,KaggleMart,Kaggle Sticker,179,179
6567,32865,2019-12-31,Sweden,KaggleRama,Kaggle Mug,354,354
6568,32866,2019-12-31,Sweden,KaggleRama,Kaggle Hat,629,629
6569,32867,2019-12-31,Sweden,KaggleRama,Kaggle Sticker,179,179

In [13]:
control_submit = df[['row_id', 'num_sold']]

In [15]:
control_submit.to_csv('Control Submission.csv', index=False)

# Score 29.51